<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FaceBluff</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="main">
            <header>
                <img src="images/img/Logo.png" alt="Logo de la empresa"/>
            </header>
            <nav>
                <% if (origen === "logeado") { %>   
                    <%- include("divHeaderUser") %>               
                <% } else { %>
                    <% if (origen === "modifyUser") { %>   
                        <%- include("divHeaderUser") %>               
                    <% } else { %>
                    <%- include("divHeaderNoUser") %>   
                    <% } %>               
                <% } %>
            </nav>
            <div id="principal">
                    
                <% if (!datos.email) { %>   

                    <% if (origen === "newUser") { %>       
                        <%- include("divBodyNewUser") %>       
                    <% } else { %>
                        <%- include("divBodyLogin") %>               
                    <% } %>  

                <% } else { %>   
                    
                    <% if (origen !== "modifyUser") { %>       
                        <div class="profile-datas tittle-pages">
                                <%- include("divBodyProfile") %>
                        </div>        
                    <% } else { %>
                        <%- include("divBodyModifyUser") %>               
                    <% } %> 
                                                  
                <% } %>
            </div> 
            <footer></footer>
        </div>
    </body>
</html>
