<%- include("../includes/header") %>
<div class="border border-gray" style="margin-right:20px; margin-left: 20px;">
    <h3 class="text-center mt-1">Galería de Imágenes</h3>
    
    <div class="col-12 d-flex mt-5 justify-content-around">
       
        <% dataUsernames.forEach (user => { %>   
            <div class="col-12 mt-5 justify-content-around"> 
                <div class="col-12 bg-light pb-2">
                    <div class="col-12 ">
                        <div class="h4"><%= user %></div>
                    </div>
                    <div class="row" style="justify-content: space-evenly;/* width: 90%; */"> 
                        <% dataPhoto[user].forEach (dataElement => { %>    
                        <div class="card mt-1" style="width: 18rem;" value="<%= dataElement.id %>">
                            <img class="card-img-top" src="/uploads/<%= dataElement.name %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><%= dataElement.descrip %></p>
                            </div>
                        </div>
                        <%  }); %>
                    </div>
                </div>   
        <%  }); %> 

        <div class="col-12 mt-5 justify-content-around">  
            
            <style>
                .btn-circle {
                    width: 100px;
                    height: 100px; 
                    border-radius: 70px;
                    font-size: 24px;
                    line-height: 1.33;
                    bottom: 10px;
                    right: 50px;
                    position: fixed;
                }
            </style>
            <div class="col-12 mt-2 mb-4 d-flex justify-content-center">
                <button type = "button" class = "btn btn-lg btn-warning disabled">Opciones Avanzadas</button>
            </div>  
            <button type="button" class="btn btn-info btn-circle btn-xl" data-toggle="modal"  data-target="#exampleModal"><i class="fas fa-plus fa-3x"></i>
            </button> 
              
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Subir Foto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <%- include("../components/uploadFoto") %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>	
    
  

</div>