<%- include("../includes/header") %>
<div class="body-loginsignup">
    <div class="row justify-content-center align-items-center minh-100"> 
        <div class="col-8">
            <h2 class="text-center">Modificar Datos</h2>
            <form action="/modifyUser" method="post">
                <div class="form-group">
                    <label for="nick">Nick</label>
                    <input name="nick" type="text" class="form-control" id="nick" aria-describedby="nickHelp" placeholder="Nick" value="<%= datos.nick %>"/>
                    <small id="nickHelp" class="form-text text-muted">Introduce tu usuario</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" value="<%= datos.email %>"/>
                    <small id="emailHelp" class="form-text text-muted">Introduce tu email</small>
                </div>
                <div class="form-group">
                    <label for="pwd">Contraseña</label>
                    <input name="pwd" type="password" class="form-control" id="pwd" placeholder="Contraseña" value="<%= datos.password %>">
                </div>
                <div class="form-group">
                    <label for="rol">Rol</label>
                    <div class="d-flex">
                        <select name="rol" class="form-control col-7"  id="rol" >
                            <option value="<%= datos.id_rol %>"><%= datos.name %></option>
                        </select>
                        <div class="btn text-info col-3 d-flex align-items-center justify-content-start" onclick="alert('En desarrollo')">
                            @Solicitar cambio
                        </div>
                    </div>
                    <input name="name_rol" type="hidden"  id="name_rol" value="<%= datos.name %>">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Modificar</button>
                </div>
            </form>
            <form method="POST" action="/bajaUser">
                <div class = "form-group text-center">
                    <button type="submit" class="btn btn-lg btn-danger">Solicitar Baja</button>
                </div>
            </form>
            <p class="h3 text-danger text-center"><%= error %></p>
            <p class="h3 text-success text-center"><%= respuesta %></p>
        </div> 
    </div>
</div>